*, *:before, *:after{
    box-sizing: border-box;
}

body {
    font-family: 'open sans', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    margin: 0;
    padding: 0;
    color: antiquewhite;

}


a{
    text-decoration: none;
    color: white;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;

}
/* Globales */
h2{
    text-align: center;
}

/* Utilidad */
.no-margin{
    margin: 0;
}
main{
    color: #333333;
}

/* Header */
header{
    background-color: #003366;
    color: aliceblue;
}

/* Navegacion */


nav ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    
}

nav ul li a {
    text-decoration: none;
    padding: 10px 15px;
    transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
    padding: 0.4rem;
    border-radius: 5px;
}

nav ul li a:hover {
    color: #030303; /* Color on hover */
    background-color: #00BFFF; 
    transform: scale(1.1);
}



.banner{
    text-align: center;
    background-color: #CAE8FF;
    padding-left: 0;
}

/* Formulario */

label{
    display: block;
    font-weight: 600;
}

input[type="text"],
input[type="date"],
input[type="tel"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #32CD32;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family:'Montserrat', sans-serif ;
}
button:hover {
    background-color: #45a049;
}

.form-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.rojo{
    font-size: 1.2rem;
    font-weight: 600;
    color: red;
}
.form-container p{
    
    color: #32CD32;
}

/* Footer */

footer{
    background-color: #333333;
    display: flex;
    align-items: center ;
    
}

.contacto, h4, p{
    margin: 0;

}
.contacto p{
    font-size: 0.8rem;
}


/* Query Tablet */
@media (max-width:768px) {
    .banner img{
        width: 100%;
    }
    
    label{
        font-size: 1.2rem;
    }

    input[type="text"],
    input[type="date"],
    input[type="tel"],
    select {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {

    width: 100%;
    padding: 8px;
}



}




/* Query Celular */
@media (max-width:600px) {
    main{
        padding: 1.5rem;
    }
    nav ul{
        display: block; /*Activo block*/
        text-align: center; /*Alineo los textos al centro*/
        padding: 0;
    }
    .banner img{
        width: 100%;
    }
    .form-container h2{
        font-size: 1.3rem;
        margin:0;
    }

    label{
        font-size: 1rem;
    }
    button {
        padding: 5px;
    }

    footer{
       text-align: center;
    }
}

