
body {
    font-family: 'open sans', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    margin: 0;
    padding: 0;
    color: antiquewhite;

}


a{
    text-decoration: none;
    color:white;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;

}

p{
    font-weight: 400;
}

/* Utilidades */
.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}

/* Header */
header{
    background-color: #003366;
    color: aliceblue;
}

.contenedor_header{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding-left: 3rem;
    padding-right: 3rem;
    gap: 2rem;
}

.img_header{
    width:140px ;
    height: 70px;
    border-radius: 2%;
}
/* Navegacion */
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    
}

nav ul li a {
    text-decoration: none;
    padding: 10px 15px;
    transition: color 0.5s ease, background-color 0.3s ease, transform 0.3s ease; /* Transition effects */
    padding: 0.4rem;
    border-radius: 5px;
}

nav ul li a:hover {
    color: #030303;
    background-color: #00BFFF; 

}


main{
    color: #333333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

label{
    display: block;
    margin-bottom: 5px;
    
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px 6.5px;
    background-color: #32CD32;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family:'Montserrat', sans-serif ;
  }
  
button:hover {
    background-color: #45a049;
}
.inicio_sesion{
    background-color: #F5F5F5;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.inicio_sesion p{
    font-size: 1.2rem;
    font-weight: 600;
    color: red;
}




@media (max-width: 600px) {
    .contenedor_header {
        flex-direction: column;
        text-align: center;
        padding: 0;
    }
    
    .contenedor_header {
        padding: 2rem;
    }

    /* .img_header {
        padding: 0;
    } */

    .contenedor_header h1 {
        font-size: 3rem;
    }

    nav ul {
        flex-direction: column;
        gap: 1rem;
    }

    nav ul {
        text-align: center;
        padding: 0;
    }

}

@media (max-width: 400px) {
    main{
        padding: 2rem;
    }
    
    
    .contenedor_header {
        padding: 1rem 2.5rem;
        gap: 1rem;
    }

    .img_header {
        margin: 0 auto;
        
    }

    .contenedor_header h1 {
        font-size: 2.5rem;
    }

    .inicio_sesion{
        max-width: 300px;
        width: 100%;
        padding: 20px;
        font-size: 1.3rem;
    }

    .inicio_sesion h3{
        text-align: center;
        
    }

    label{
        font-size: 1rem;
    }

    input[type="text"],
    input[type="password"] {
    width: 100%;
    padding: 5px;
    
    }
    
    button{
        padding: 5px;
        font-size: 0.8rem;
        font-weight: 500;
    }

}


